USE [TMSLive]
GO
/****** Object:  Table [dbo].[AddressBook]    Script Date: 11/7/2020 2:56:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AddressBook](
	[id] [uniqueidentifier] NULL,
	[name] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Area]    Script Date: 11/7/2020 2:56:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Area](
	[AreaId] [uniqueidentifier] NOT NULL,
	[AreaName] [nvarchar](800) NULL,
	[LeadId] [uniqueidentifier] NULL,
	[IsActive] [bit] NULL,
	[CreateDate] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_tbl_Area] PRIMARY KEY CLUSTERED 
(
	[AreaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Contact]    Script Date: 11/7/2020 2:56:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Contact](
	[ContactId] [uniqueidentifier] NOT NULL,
	[ContactName] [nvarchar](800) NULL,
	[ContactDesignation] [nvarchar](800) NULL,
	[ContactEmail] [nvarchar](800) NULL,
	[ContactPhone] [nvarchar](50) NULL,
	[ContactAddress] [nvarchar](max) NULL,
	[ContactOrg] [nvarchar](800) NULL,
	[LeadId] [uniqueidentifier] NULL,
	[IsActive] [bit] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_tbl_Contact] PRIMARY KEY CLUSTERED 
(
	[ContactId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Files]    Script Date: 11/7/2020 2:56:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Files](
	[FileId] [uniqueidentifier] NOT NULL,
	[FileName] [nvarchar](max) NULL,
	[FilePath] [nvarchar](max) NULL,
	[LeadId] [uniqueidentifier] NULL,
	[IsActive] [bit] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_tbl_Files] PRIMARY KEY CLUSTERED 
(
	[FileId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_LeadAccess]    Script Date: 11/7/2020 2:56:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_LeadAccess](
	[AccessID] [uniqueidentifier] NOT NULL,
	[LeadId] [uniqueidentifier] NULL,
	[UserId] [uniqueidentifier] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [uniqueidentifier] NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_tbl_LeadAccess] PRIMARY KEY CLUSTERED 
(
	[AccessID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Leads]    Script Date: 11/7/2020 2:56:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Leads](
	[LeadId] [uniqueidentifier] NOT NULL,
	[LeadName] [nvarchar](max) NULL,
	[LeadValue] [decimal](18, 0) NULL,
	[AssignUser] [uniqueidentifier] NULL,
	[PipeId] [uniqueidentifier] NULL,
	[StageId] [uniqueidentifier] NULL,
	[IsActive] [bit] NULL,
	[CreateDate] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [uniqueidentifier] NULL,
	[OrgId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_tbl_Leads] PRIMARY KEY CLUSTERED 
(
	[LeadId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Notes]    Script Date: 11/7/2020 2:56:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Notes](
	[NoteId] [uniqueidentifier] NOT NULL,
	[Notes] [nvarchar](max) NULL,
	[LeadId] [uniqueidentifier] NULL,
	[IsActive] [bit] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_tbl_Notes] PRIMARY KEY CLUSTERED 
(
	[NoteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Organization]    Script Date: 11/7/2020 2:56:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Organization](
	[OrgID] [uniqueidentifier] NOT NULL,
	[OrgName] [nvarchar](800) NULL,
	[UserLimit] [int] NULL,
	[LeadLimit] [int] NULL,
	[StroageLimit] [int] NULL,
	[StartDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
	[CreateDate] [datetime] NULL,
	[CreatedEmail] [nvarchar](800) NULL,
	[Isactive] [bit] NULL,
 CONSTRAINT [PK_tbl_Organization_1] PRIMARY KEY CLUSTERED 
(
	[OrgID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_PipeLine]    Script Date: 11/7/2020 2:56:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_PipeLine](
	[PipeID] [uniqueidentifier] NOT NULL,
	[PipeName] [nvarchar](800) NULL,
	[IsActive] [bit] NULL,
	[IsDefault] [bit] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [uniqueidentifier] NULL,
	[OrgId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_tbl_PipeLine] PRIMARY KEY CLUSTERED 
(
	[PipeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Product]    Script Date: 11/7/2020 2:56:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Product](
	[ProductId] [uniqueidentifier] NOT NULL,
	[ProductName] [nvarchar](800) NULL,
	[ProductPrice] [decimal](18, 0) NULL,
	[ProductDiscount] [decimal](18, 0) NULL,
	[DiscountPercentage] [float] NULL,
	[ProductDiscountPrice] [decimal](18, 0) NULL,
	[Quantity] [int] NULL,
	[LeadId] [uniqueidentifier] NULL,
	[IsActive] [bit] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_tbl_Product] PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Role]    Script Date: 11/7/2020 2:56:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Role](
	[RoleId] [uniqueidentifier] NOT NULL,
	[RoleName] [nvarchar](100) NULL,
	[IsActive] [bit] NULL,
	[OrgId] [uniqueidentifier] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_tbl_Role] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Source]    Script Date: 11/7/2020 2:56:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Source](
	[SourceId] [uniqueidentifier] NOT NULL,
	[SourceName] [nvarchar](800) NULL,
	[LeadId] [uniqueidentifier] NULL,
	[IsActive] [bit] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_tbl_Source] PRIMARY KEY CLUSTERED 
(
	[SourceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Stage]    Script Date: 11/7/2020 2:56:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Stage](
	[StageId] [uniqueidentifier] NOT NULL,
	[StageName] [nvarchar](800) NULL,
	[SequenceNumber] [int] NULL,
	[PipeID] [uniqueidentifier] NULL,
	[IsActive] [bit] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_tbl_Stage] PRIMARY KEY CLUSTERED 
(
	[StageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Tag]    Script Date: 11/7/2020 2:56:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Tag](
	[TagId] [uniqueidentifier] NOT NULL,
	[TagName] [nvarchar](800) NULL,
	[TagColor] [nvarchar](20) NULL,
	[IsActive] [bit] NULL,
	[PipeId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_tbl_Tag] PRIMARY KEY CLUSTERED 
(
	[TagId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Todo]    Script Date: 11/7/2020 2:56:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Todo](
	[TodoId] [uniqueidentifier] NOT NULL,
	[TodoName] [nvarchar](800) NULL,
	[TodoDate] [date] NULL,
	[TodoTime] [nvarchar](10) NULL,
	[TodoType] [nvarchar](50) NULL,
	[LeadId] [uniqueidentifier] NULL,
	[IsActive] [bit] NULL,
	[TodoStatus] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[CreateBy] [uniqueidentifier] NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_tbl_Todo] PRIMARY KEY CLUSTERED 
(
	[TodoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_TodoStatus]    Script Date: 11/7/2020 2:56:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_TodoStatus](
	[TodoStatusId] [int] IDENTITY(1,1) NOT NULL,
	[Status] [nvarchar](50) NULL,
 CONSTRAINT [PK_tbl_TodoStatus] PRIMARY KEY CLUSTERED 
(
	[TodoStatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_User]    Script Date: 11/7/2020 2:56:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_User](
	[UserId] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](500) NULL,
	[Email] [nvarchar](500) NULL,
	[RoleID] [uniqueidentifier] NULL,
	[Password] [nvarchar](800) NULL,
	[IsActive] [bit] NULL,
	[BioPic] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [uniqueidentifier] NULL,
	[OrgId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_tbl_User] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[AddressBook] ADD  CONSTRAINT [DF_AddressBook_id]  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[tbl_Area] ADD  CONSTRAINT [DF_tbl_Area_AreaId]  DEFAULT (newid()) FOR [AreaId]
GO
ALTER TABLE [dbo].[tbl_Contact] ADD  CONSTRAINT [DF_tbl_Contact_ContactId]  DEFAULT (newid()) FOR [ContactId]
GO
ALTER TABLE [dbo].[tbl_Files] ADD  CONSTRAINT [DF_tbl_Files_FileID]  DEFAULT (newid()) FOR [FileId]
GO
ALTER TABLE [dbo].[tbl_LeadAccess] ADD  CONSTRAINT [DF_tbl_LeadAccess_AccessID]  DEFAULT (newid()) FOR [AccessID]
GO
ALTER TABLE [dbo].[tbl_Leads] ADD  CONSTRAINT [DF_tbl_Leads_LeadId]  DEFAULT (newid()) FOR [LeadId]
GO
ALTER TABLE [dbo].[tbl_Notes] ADD  CONSTRAINT [DF_tbl_Notes_NoteId]  DEFAULT (newid()) FOR [NoteId]
GO
ALTER TABLE [dbo].[tbl_Organization] ADD  CONSTRAINT [DF_tbl_Organization_OrgID_1]  DEFAULT (newid()) FOR [OrgID]
GO
ALTER TABLE [dbo].[tbl_PipeLine] ADD  CONSTRAINT [DF_tbl_PipeLine_PipeID]  DEFAULT (newid()) FOR [PipeID]
GO
ALTER TABLE [dbo].[tbl_Product] ADD  CONSTRAINT [DF_tbl_Product_ProductId]  DEFAULT (newid()) FOR [ProductId]
GO
ALTER TABLE [dbo].[tbl_Role] ADD  CONSTRAINT [DF_tbl_Role_RoleId]  DEFAULT (newid()) FOR [RoleId]
GO
ALTER TABLE [dbo].[tbl_Source] ADD  CONSTRAINT [DF_tbl_Source_SourceId]  DEFAULT (newid()) FOR [SourceId]
GO
ALTER TABLE [dbo].[tbl_Stage] ADD  CONSTRAINT [DF_tbl_Stage_StageId]  DEFAULT (newid()) FOR [StageId]
GO
ALTER TABLE [dbo].[tbl_Tag] ADD  CONSTRAINT [DF_tbl_Tag_TagId]  DEFAULT (newid()) FOR [TagId]
GO
ALTER TABLE [dbo].[tbl_Todo] ADD  CONSTRAINT [DF_tbl_Todo_TodoId]  DEFAULT (newid()) FOR [TodoId]
GO
ALTER TABLE [dbo].[tbl_User] ADD  CONSTRAINT [DF_tbl_User_UserId]  DEFAULT (newid()) FOR [UserId]
GO
/****** Object:  StoredProcedure [dbo].[AddContact]    Script Date: 11/7/2020 2:56:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create proc [dbo].[AddContact](@contactname nvarchar(800),@ContactDesignation nvarchar(800),@ContactEmail nvarchar(800),@ContactPhone nvarchar(50),@contactAddress nvarchar(max),@ContactOrg nvarchar(800),@leadid nvarchar(100),@createdby nvarchar(100))
As
begin
set nocount on
insert into tbl_Contact(ContactName,ContactDesignation,ContactEmail,ContactPhone,ContactAddress,ContactOrg,LeadId,IsActive,CreatedBy,CreatedDate)
values(@contactname,@ContactDesignation,@ContactEmail,@ContactPhone,@contactAddress,@ContactOrg,@leadid,1,@createdby,getdate())
end
GO
/****** Object:  StoredProcedure [dbo].[AddContactDetails]    Script Date: 11/7/2020 2:56:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[AddContactDetails](@contactName nvarchar(800),@ContactDesignation nvarchar(800),
@contactEmail nvarchar(50),@contactPhone nvarchar(50),@contactAddress nvarchar(max),@contactOrg nvarchar(max),@leadId uniqueidentifier,
@craetedBy uniqueidentifier)
As
begin 
set nocount on
DECLARE @MyTableVar table([ContactId] [uniqueidentifier]);  
insert into tbl_Contact(ContactName,ContactDesignation,ContactEmail,ContactPhone,ContactAddress,ContactOrg,LeadId,CreatedBy,CreatedDate,IsActive)
OUTPUT INSERTED.[ContactId] INTO @MyTableVar      
values(@contactName,@ContactDesignation,@contactEmail,@contactPhone,@contactAddress,@contactOrg,@leadId,@craetedBy,getdate(),1)        
select [ContactId] from @MyTableVar
END
GO
/****** Object:  StoredProcedure [dbo].[AddFiles]    Script Date: 11/7/2020 2:56:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Proc [dbo].[AddFiles](@fileName nvarchar(max),@filePath nvarchar(max),@leadId uniqueidentifier,@createdBy uniqueidentifier)  
As  
Begin  
set nocount on  
DECLARE @MyTableVar table([FileId] [uniqueidentifier]);  
insert into tbl_Files(FileName,FilePath,LeadId,CreatedBy,CreatedDate,IsActive)  
OUTPUT INSERTED.[FileId] INTO @MyTableVar          
values(@fileName,@filePath,@leadId,@createdBy,GETDATE(),1)  
select [FileId] from @MyTableVar    
  
END
GO
/****** Object:  StoredProcedure [dbo].[AddLeadManageAccess]    Script Date: 11/7/2020 2:56:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[AddLeadManageAccess](@userId uniqueidentifier,@leadId uniqueidentifier,@createdBy uniqueidentifier)  
As  
Begin  
set nocount on  
DECLARE @MyTableVar table([AccessID] [uniqueidentifier]);  
insert into  tbl_LeadAccess(UserId,LeadId,CreatedBy,CreatedDate,IsActive)  
OUTPUT INSERTED.[AccessID] INTO @MyTableVar          
values(@userId,@leadId,@createdBy,getdate(),1)  
select [AccessID] from @MyTableVar    
  
END
GO
/****** Object:  StoredProcedure [dbo].[ADDLEADS]    Script Date: 11/7/2020 2:56:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ADDLEADS](@LeadsId nvarchar(100),@LEADNAME NVARCHAR(500),@leadvalue DECIMAL(18,2),@ASSIGNUSER NVARCHAR(100),@PIPEID NVARCHAR(100),@STAGEID NVARCHAR(100),@CREATEDBY NVARCHAR(100),@ORGID NVARCHAR(100))  
AS  
BEGIN  
SET NOCOUNT ON  

IF(@LeadsId <> '' AND @LeadsId is not null AND @LeadsId <> '00000000-0000-0000-0000-000000000000')  
begin
  update tbl_Leads set LeadName=@LEADNAME,LeadValue=@leadvalue,AssignUser=@ASSIGNUSER,StageId=@STAGEID,PipeId=@PIPEID,ModifiedBy=@CREATEDBY,ModifiedDate=getdate()
  where LeadId=@LeadsId
  select '1'
end
else 
begin      

DECLARE @MyTableVar table([LeadId] [uniqueidentifier]);    
 DECLARE @LeadId uniqueidentifier   
INSERT INTO tbl_Leads(LeadName,LeadValue,AssignUser,PipeId,StageId,IsActive,CreateDate,CreatedBy,OrgId)  
OUTPUT INSERTED.[LeadId] INTO @MyTableVar    
VALUES(@LEADNAME,@leadvalue,@ASSIGNUSER,@PIPEID,@STAGEID,1,GETDATE(),@CREATEDBY,@ORGID)  
 SELECT @LeadId=[LeadId] FROM @MyTableVar;   
   
 select  @LeadId
 end  
END
GO
/****** Object:  StoredProcedure [dbo].[AddNotes]    Script Date: 11/7/2020 2:56:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[AddNotes](@Notes nvarchar(max),@leadId uniqueidentifier,@createdBy uniqueidentifier)
As
Begin
set nocount on
DECLARE @MyTableVar table([NoteId] [uniqueidentifier]);
insert into tbl_Notes(Notes,LeadId,CreatedBy,CreatedDate,IsActive)
OUTPUT INSERTED.[NoteId] INTO @MyTableVar        
values(@Notes,@leadId,@createdBy,getdate(),1)
select [NoteId] from @MyTableVar  

END
GO
/****** Object:  StoredProcedure [dbo].[ADDPRODUCT]    Script Date: 11/7/2020 2:56:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ADDPRODUCT](@productName nvarchar(max),@productprice decimal(18,6),
@productDiscount decimal(18,6),@discountpercentage float,@quantity int,@leadid uniqueidentifier,
@createdBy uniqueidentifier)
AS
BEGIN
 set nocount on
  DECLARE @MyTableVar table([ProductId] [uniqueidentifier]);  
insert into tbl_Product(ProductName,ProductPrice,ProductDiscount,DiscountPercentage,
ProductDiscountPrice,Quantity,LeadId,IsActive,CreatedBy,CreatedDate)  
OUTPUT INSERTED.[ProductId] INTO @MyTableVar          
values(@productName,@productprice,@productDiscount,@discountpercentage,(@productprice-@productDiscount),@quantity,@leadid,1,@createdBy,getdate())
select [ProductId] from @MyTableVar
END
GO
/****** Object:  StoredProcedure [dbo].[AddSource]    Script Date: 11/7/2020 2:56:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[AddSource](@Source nvarchar(max),@leadId uniqueidentifier,@createdBy uniqueidentifier)  
As  
Begin  
set nocount on  
DECLARE @MyTableVar table([SourceId] [uniqueidentifier]);  
insert into  tbl_Source(SourceName,LeadId,CreatedBy,CreatedDate,IsActive)  
OUTPUT INSERTED.[SourceId] INTO @MyTableVar          
values(@Source,@leadId,@createdBy,getdate(),1)  
select [SourceId] from @MyTableVar    
  
END
GO
/****** Object:  StoredProcedure [dbo].[AddTodo]    Script Date: 11/7/2020 2:56:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[AddTodo](@TodoName nvarchar(800),@tododate datetime,@todoTime nvarchar(10),@Leadid nvarchar(100),@todoType nvarchar(50),@CreatedBy nvarchar(100))      
as      
begin      
set nocount on      
DECLARE @MyTableVar table([todoId] [uniqueidentifier]);
insert into tbl_Todo(TodoName,TodoDate,TodoTime,LeadId,TodoType,IsActive,CreateBy,CreatedDate,todoStatus)      
OUTPUT INSERTED.[TodoId] INTO @MyTableVar    
values(@TodoName,@tododate,@todoTime,@Leadid,@todoType,1,@CreatedBy,getdate(),1)      
 select [todoId] from @MyTableVar
 
end
GO
/****** Object:  StoredProcedure [dbo].[ADDUPDATEPIPELINE]    Script Date: 11/7/2020 2:56:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



    
    
CREATE PROC [dbo].[ADDUPDATEPIPELINE](@PIPELINEID NVARCHAR(100),@PIPELINENAME NVARCHAR(500),@ISDEFAULT BIT,@USERID NVARCHAR(100),@ORGID NVARCHAR(100))      
AS      
BEGIN      
SET NOCOUNT ON      
   
IF(@PIPELINEID <> '' AND @PIPELINEID is not null AND @PIPELINEID <> '00000000-0000-0000-0000-000000000000')      
BEGIN     
    
    IF EXISTS(SELECT 1  FROM tbl_PipeLine WHERE PipeName=@PIPELINENAME AND PipeID <> @PIPELINEID AND OrgId=@ORGID AND IsActive=1)      
  BEGIN      
    SELECT 1  -- MEANS PIPENAME ALREADY EXITS      
  END      
  ELSE      
  BEGIN     
  IF(@ISDEFAULT=1)  
  BEGIN  
  UPDATE tbl_PipeLine SET IsDefault=0  where OrgId=@ORGID
  END  
   
   UPDATE tbl_PipeLine SET PipeName=@PIPELINENAME ,IsDefault=@ISDEFAULT,ModifiedBy=@USERID,ModifiedDate=GETDATE() WHERE PipeID=@PIPELINEID      
   SELECT 3 --- UPDATE SUCCESSFULLY      
  END      
END      
   ELSE      
BEGIN      
    
 IF EXISTS(SELECT 1  FROM tbl_PipeLine WHERE PipeName=@PIPELINENAME  AND OrgId=@ORGID AND IsActive=1)      
  BEGIN      
    SELECT 1  -- MEANS PIPENAME ALREADY EXITS      
  END      
  ELSE      
  BEGIN      
   IF(@ISDEFAULT=1)  
   BEGIN  
  UPDATE tbl_PipeLine SET IsDefault=0  where OrgId=@ORGID
   END  
   INSERT INTO tbl_PipeLine (PipeName,IsDefault,IsActive,CreatedBy,CreatedDate,OrgId)      
   VALUES(@PIPELINENAME,@ISDEFAULT,1,@USERID,GETDATE(),@ORGID)      
   SELECT 2 -- CREATED SUCCESSFULLY      
  END      
      
END      
END      
    
    
    
GO
/****** Object:  StoredProcedure [dbo].[ADDUPDATESTAGE]    Script Date: 11/7/2020 2:56:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ADDUPDATESTAGE] (@STAGEID NVARCHAR(100),@STAGENAME NVARCHAR(500),@SEQUENCENUMBER INT,@PIPEID NVARCHAR(100),@USERID NVARCHAR(100))          
AS          
BEGIN          
SET NOCOUNT ON          
       
IF(@STAGEID <> '' AND @STAGEID is not null AND @STAGEID <> '00000000-0000-0000-0000-000000000000')          
BEGIN         
        
    IF EXISTS(SELECT 1  FROM tbl_Stage WHERE  stagename=@STAGENAME and   pipeid=@PIPEID AND stageid <> @STAGEID  AND IsActive=1)          
  BEGIN          
    SELECT 1  -- MEANS PIPENAME ALREADY EXITS          
  END          
  ELSE          
  BEGIN          
   UPDATE tbl_Stage SET StageName=@STAGENAME,SequenceNumber=@SEQUENCENUMBER,PipeID=@PIPEID, ModifiedBy=@USERID,ModifiedDate=GETDATE() WHERE StageId=@STAGEID    
   SELECT 3 --- UPDATE SUCCESSFULLY          
  END          
END          
   ELSE          
BEGIN          
        
 IF EXISTS(SELECT 1  FROM tbl_Stage WHERE StageName=@STAGENAME and PipeID=@PIPEID AND IsActive=1)          
  BEGIN          
    SELECT 1  -- MEANS PIPENAME ALREADY EXITS          
  END          
  ELSE          
  BEGIN          
 declare @count int
select @count=count(1) from  tbl_Stage WHERE PipeID=@PIPEID
   INSERT INTO tbl_Stage (StageName,SequenceNumber,PipeID,IsActive,CreatedBy,CreatedDate)          
   VALUES(@STAGENAME,(@count+1),@PIPEID,1,@USERID,GETDATE())          
   SELECT 2 -- CREATED SUCCESSFULLY          
  END          
          
END          
END          
       
GO
/****** Object:  StoredProcedure [dbo].[AddUpdateUser]    Script Date: 11/7/2020 2:56:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  

  --exec AddUpdateUser '7c87bbf0-c5e0-47a8-b88d-05db8233d825','82fcabb2-40af-4776-bca4-7bd04daf707e','suraj kumar','yyy@gmaiul.com','0b7683f2-4937-437d-bb5c-a5155c3a8ffa','m3GEfvGZMPY4bu9Hw6mF3w==','8360ffdb-0344-4079-b1de-8b16f28a8f7a'

 CREATE proc [dbo].[AddUpdateUser](@id nvarchar(max),@orgid nvarchar(max),@name nvarchar(800),@email nvarchar(800),@roleid nvarchar(max),@password nvarchar(800),@userid nvarchar(max))  
 as  
 begin  
 set nocount on  
  if @id <> '' and @id is not  null and @id <> '00000000-0000-0000-0000-000000000000'
  begin
  
  update tbl_User set Name=@name,@roleid=@roleid,ModifiedDate=GETDATE(),ModifiedBy=@userid where UserId=@id
   select 3 -- udpate user successfully
  end
  else
  begin
 if((select count(1) from tbl_User where Email=@email and IsActive=1) >0)  
  begin  

     select 1 -- email already extis  
  end  
  else  
  begin  
   insert into tbl_User(Name,Email,RoleID,Password,IsActive,CreatedBy,CreatedDate,OrgId)  
   values(@name,@email,@roleid,@password,1,@userid,GETDATE(),@orgid)  
   select 2  
  end  

  end
  end


 
GO
/****** Object:  StoredProcedure [dbo].[AddZone]    Script Date: 11/7/2020 2:56:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Proc [dbo].[AddZone](@AreaName nvarchar(800),@leadid nvarchar(100),@CreatedBy nvarchar(100))  
as  
begin  
set nocount on  
DECLARE @MyTableVar table([AreaId] [uniqueidentifier]);   
insert into tbl_Area(AreaName,LeadId,IsActive,CreatedBy,CreateDate)  
OUTPUT INSERTED.[AreaId] INTO @MyTableVar  
values(@AreaName,@leadid,1,@CreatedBy,getdate())  
select [AreaId] from @MyTableVar
end
GO
/****** Object:  StoredProcedure [dbo].[DeleteContact]    Script Date: 11/7/2020 2:56:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[DeleteContact](@contactid uniqueidentifier, @modifiedBy uniqueidentifier)
as
begin
update tbl_Contact set IsActive=0,ModifiedBy=@modifiedBy,ModifiedDate=GETDATE() where ContactId=@contactid
end
GO
/****** Object:  StoredProcedure [dbo].[deleteFile]    Script Date: 11/7/2020 2:56:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create proc [dbo].[deleteFile](@fileid uniqueidentifier,@modifiedBy uniqueidentifier)
As
begin
set nocount on
update tbl_Files set isactive=0 , ModifiedBy=@modifiedBy, ModifiedDate=getdate() where FileId=@fileid

end
GO
/****** Object:  StoredProcedure [dbo].[DeleteLeadManageAccess]    Script Date: 11/7/2020 2:56:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[DeleteLeadManageAccess](@Accessid uniqueidentifier,@modifiedby uniqueidentifier)  
As  
BEGIN  
set nocount on  
  update tbl_LeadAccess set IsActive=0,ModifiedBy=@modifiedby,ModifiedDate=getdate()  
  where AccessID=@Accessid  
end
GO
/****** Object:  StoredProcedure [dbo].[deleteNotes]    Script Date: 11/7/2020 2:56:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create proc [dbo].[deleteNotes](@noteid uniqueidentifier,@modifiedby uniqueidentifier)
AS
BEGIN
set nocount on
update tbl_Notes set IsActive=0,ModifiedBy=@modifiedby,ModifiedDate=GETDATE() 
where NoteId=@noteid
END
GO
/****** Object:  StoredProcedure [dbo].[DELETEPIPELINE]    Script Date: 11/7/2020 2:56:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[DELETEPIPELINE](@PIPELINEID NVARCHAR(100))
AS
BEGIN
SET NOCOUNT ON

UPDATE tbl_PipeLine SET IsActive=0 WHERE PipeID=@PIPELINEID
END
GO
/****** Object:  StoredProcedure [dbo].[DeleteProduct]    Script Date: 11/7/2020 2:56:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[DeleteProduct](@productId uniqueidentifier,@modifiedBy uniqueidentifier)
as
begin
set nocount on
update tbl_Product set IsActive=0 ,ModifiedBy=@modifiedBy,ModifiedDate=getdate()
where ProductId=@productId
END
GO
/****** Object:  StoredProcedure [dbo].[DeleteSource]    Script Date: 11/7/2020 2:56:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[DeleteSource](@SourceId uniqueidentifier,@modified uniqueidentifier)
As
BEGIN
set nocount on
  update tbl_Source set IsActive=0,ModifiedBy=@modified,ModifiedDate=getdate()
  where SourceId=@SourceId
end
GO
/****** Object:  StoredProcedure [dbo].[DELETESTAGE]    Script Date: 11/7/2020 2:56:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[DELETESTAGE](@STATGEID NVARCHAR(100))  
AS  
BEGIN  
SET NOCOUNT ON  
  
UPDATE tbl_Stage SET IsActive=0 WHERE StageId=@STATGEID
END  
GO
/****** Object:  StoredProcedure [dbo].[DeleteUserId]    Script Date: 11/7/2020 2:56:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Suraj Kumar Ghosi>
-- Create date: <03-07-2020>
-- Description:	<Delete User by ID>
-- =============================================
CREATE PROCEDURE [dbo].[DeleteUserId](@id nvarchar(800))
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	update tbl_User set IsActive=0 where UserId=@id 
	
END
GO
/****** Object:  StoredProcedure [dbo].[DeleteZone]    Script Date: 11/7/2020 2:56:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[DeleteZone](@areaid uniqueidentifier,@modifiedby uniqueidentifier)    
As    
BEGIN    
set nocount on    
  update tbl_Area set IsActive=0,ModifiedBy=@modifiedby,ModifiedDate=getdate()    
  where AreaId=@areaid  
end
GO
/****** Object:  StoredProcedure [dbo].[directAddLead]    Script Date: 11/7/2020 2:56:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[directAddLead](@leadName nvarchar(max),@createdBy uniqueidentifier,@orgId uniqueidentifier )
as
begin
set nocount on
declare @pipeId uniqueidentifier,@stageid uniqueidentifier
select top 1  @pipeId=  PipeID from tbl_PipeLine where OrgId=@orgId and IsActive=1 and IsDefault=1
select top 1  @stageid=  StageId from tbl_Stage where PipeID=@pipeId and SequenceNumber=1

DECLARE @MyTableVar table([LeadId] [uniqueidentifier]);      
 DECLARE @LeadId uniqueidentifier     
INSERT INTO tbl_Leads(LeadName,PipeId,StageId,IsActive,CreateDate,CreatedBy,OrgId)    
OUTPUT INSERTED.[LeadId] INTO @MyTableVar      
VALUES(@LEADNAME,@pipeId,@stageid,1,GETDATE(),@CREATEDBY,@ORGID)    
 SELECT @LeadId=[LeadId] FROM @MyTableVar;     
     
 select LeadId,LeadName,isnull(LeadValue,0) as leadValue,isnull(assignUser,'00000000-0000-0000-0000-000000000000') as assignUser, PipeId,StageId,CreateDate from tbl_Leads where LeadId= @LeadId 
 end
GO
/****** Object:  StoredProcedure [dbo].[GETALLPIPELINE]    Script Date: 11/7/2020 2:56:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[GETALLPIPELINE](@ORGID NVARCHAR(100))
AS
BEGIN
SET NOCOUNT ON
SELECT PipeID,PipeName,IsDefault FROM tbl_PipeLine WHERE OrgId=@ORGID AND IsActive=1 ORDER BY CreatedDate DESC
END
GO
/****** Object:  StoredProcedure [dbo].[GETALLSTAGE]    Script Date: 11/7/2020 2:56:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[GETALLSTAGE](@PIPEID NVARCHAR(100))    
AS    
BEGIN    
SET NOCOUNT ON    
SELECT StageId,StageName,SequenceNumber,PipeID FROM tbl_Stage WHERE PipeID=@PIPEID AND IsActive=1 ORDER BY SequenceNumber
END 
GO
/****** Object:  StoredProcedure [dbo].[GetAllUser]    Script Date: 11/7/2020 2:56:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================  
-- Author:  <Suraj,,Name>  
-- Create date: <30-06-2020>  
-- Description: <Get all user from system>  
-- =============================================  
CREATE PROCEDURE [dbo].[GetAllUser](@orgid nvarchar(max),@Page INT,
@Size INT)  
AS  
BEGIN  
 -- SET NOCOUNT ON added to prevent extra result sets from  
 -- interfering with SELECT statements.  
 SET NOCOUNT ON;  
  
    SELECT tu.UserId, tu.Name,tu.Email,tr.RoleName FROM tbl_User tu join tbl_Role  tr  
 on tu.RoleID = tr.RoleId  
 WHERE tu.OrgId=@orgid AND tu.IsActive=1 and (tr.OrgId is null or tr.OrgId=@orgid)  
 ORDER BY tu.UserId
	--OFFSET (@Page -1) * @Size ROWS
	--FETCH NEXT @Size ROWS ONLY
END  
GO
/****** Object:  StoredProcedure [dbo].[getLeadByLeadId]    Script Date: 11/7/2020 2:56:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [dbo].[getLeadByLeadId](@leadId uniqueidentifier)
AS
BEGIN
SET NOCOUNT ON

SELECT LeadName,LeadValue,TU.Name as assignUserName FROM tbl_Leads TL JOIN tbl_User TU ON TL.AssignUser=TU.UserId
WHERE TL.LeadId=@leadId

END
GO
/****** Object:  StoredProcedure [dbo].[getLeadsById]    Script Date: 11/7/2020 2:56:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[getLeadsById](@pipeId nvarchar(100),@stageid nvarchar(100))  
as  
begin  
set nocount on  

select tl.LeadId,tl.LeadName,tl.LeadValue,tl.AssignUser,tl.PipeId,tl.StageId,isnull(tu.Name,'') as assignUserName,convert(varchar, CreateDate, 101) as CreateDate from tbl_Leads tl  left join 
tbl_User tu on tl.AssignUser=tu.UserId    where PipeId=@pipeId and StageId=@stageid and tl.IsActive=1
  
end
GO
/****** Object:  StoredProcedure [dbo].[GETPIPELINEBYID]    Script Date: 11/7/2020 2:56:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[GETPIPELINEBYID](@PIPELINEID NVARCHAR(100))
AS
BEGIN
SET NOCOUNT ON

SELECT PipeID,PipeName,IsDefault FROM tbl_PipeLine WHERE PipeID=@PIPELINEID

END
GO
/****** Object:  StoredProcedure [dbo].[getRoleMaster]    Script Date: 11/7/2020 2:56:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[getRoleMaster](@orgid nvarchar(500))
as 
begin
set nocount on

select RoleId,RoleName from tbl_role where OrgId=@orgid or OrgId is null

end
GO
/****** Object:  StoredProcedure [dbo].[GETSTAGEBYID]    Script Date: 11/7/2020 2:56:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROC [dbo].[GETSTAGEBYID](@STAGEID NVARCHAR(100))    
AS    
BEGIN    
SET NOCOUNT ON      
SELECT StageId,StageName,SequenceNumber,PipeID FROM tbl_Stage WHERE StageId=@STAGEID   
END 
GO
/****** Object:  StoredProcedure [dbo].[GetUserById]    Script Date: 11/7/2020 2:56:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================  
-- Author:  <Suraj Kumar Ghosi>  
-- Create date: <03-07-2020>  
-- Description: <Get user by id>  
-- =============================================  
CREATE PROCEDURE [dbo].[GetUserById](@id nvarchar(800))  
   
AS  
BEGIN  
 -- SET NOCOUNT ON added to prevent extra result sets from  
 -- interfering with SELECT statements.  
 SET NOCOUNT ON;  
  
    -- Insert statements for procedure here  
 select UserId , name as fullName,Email as emailAddress,RoleID as role,Password as password  from tbl_User where UserId=@id   
END  
GO
/****** Object:  StoredProcedure [dbo].[MoveLead]    Script Date: 11/7/2020 2:56:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[MoveLead](@leadId nvarchar(100),@stageId nvarchar(100),@modifiedby nvarchar(100))
as
begin
set nocount on
update tbl_Leads set StageId=@stageId ,ModifiedBy=@modifiedby,ModifiedDate=getdate() where LeadId=@leadId 
end
GO
/****** Object:  StoredProcedure [dbo].[TodoList]    Script Date: 11/7/2020 2:56:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[TodoList](@leadId UNIQUEIDENTIFIER)  
as  
begin  
set nocount on  
  
select todoId,TodoName,TodoType,isnull(TodoDate,'') as TodoDate,isnull(TodoTime,'') as TodoTime   
,
 
CASE
    WHEN todostatus = 1 THEN 'Pending'
    WHEN todostatus = 2 THEN 'Completed'
    ELSE 'Completed by System'
END AS todostatus
,todostatus as todoflag
,tu.Name from tbl_Todo tt inner join   
tbl_User tu on tt.CreateBy =tu.UserId  
  
 where LeadId=@leadId and tt.IsActive=1  
  
end 
GO
/****** Object:  StoredProcedure [dbo].[UpdateStage]    Script Date: 11/7/2020 2:56:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROC [dbo].[UpdateStage](@stageid nvarchar(100),@sequenceNumber int)
AS
BEGIN
SET NOCOUNT ON
			update tbl_Stage set SequenceNumber=@sequenceNumber where StageId=@stageid
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateTodo]    Script Date: 11/7/2020 2:56:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[UpdateTodo](@todoid UNIQUEIDENTIFIER,@todoName nvarchar(max),@todoDate datetime,@todoTime nvarchar(10),@modifiedby UNIQUEIDENTIFIER)
as
begin 
set nocount on

update tbl_Todo set TodoName=@todoName,TodoDate=@todoDate,TodoTime=@todoTime,ModifedBy=@modifiedby,ModifiedDate=getdate()
 where TodoId=@todoid

 end
GO
/****** Object:  StoredProcedure [dbo].[updateTodoStatus]    Script Date: 11/7/2020 2:56:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[updateTodoStatus](@todoid UNIQUEIDENTIFIER,@updateFlag int,@status int,@modifiedby UNIQUEIDENTIFIER )  
 as  
 begin  
 set nocount on  
 if @updateFlag = 1  
 begin  
 update tbl_Todo set todostatus=@status, ModifedBy=@modifiedby,ModifiedDate=getdate() where TodoId=@todoid  
 end  
 else   
 begin  
  update tbl_Todo set IsActive=0 ,ModifedBy=@modifiedby,ModifiedDate=getdate()where TodoId=@todoid  
 end  
 end
GO
/****** Object:  StoredProcedure [dbo].[Usp_RegisterOrgnization]    Script Date: 11/7/2020 2:56:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--exec Usp_RegisterOrgnization 'test','test@gmail.com'
CREATE proc [dbo].[Usp_RegisterOrgnization](@orgName nvarchar(800),@emailAddress nvarchar(800),@Name nvarchar(800),@password nvarchar(800))
as
begin
SET NOCOUNT ON
  --- first check user email exits or not

  if ((select count(1) from tbl_User where Email =@emailAddress and isactive=1) > 0)
  begin
    select 1 -- EMAIL ALREADY EXITS
  end
  else  if ((select count(1) from tbl_Organization where OrgName =@orgName and isactive=1) >0 )
  begin
    select 2 -- ORG ALREADY EXITS
  end
  else 
  begin
 
  --- org creation
  DECLARE @MyTableVar table([OrgID] [uniqueidentifier]);
  DECLARE @ORGID uniqueidentifier
 INSERT INTO tbl_Organization (OrgName,UserLimit,LeadLimit,StroageLimit,StartDate,EndDate,CreateDate,CreatedEmail,Isactive)
  OUTPUT INSERTED.[OrgID] INTO @MyTableVar
 VALUES(@orgName,100,100,100,GETDATE(),GETDATE(),GETDATE(),@emailAddress,1)

  SELECT @ORGID=[OrgID] FROM @MyTableVar;
  ----end
  --- user creation part

  INSERT INTO TBL_USER (NAME,EMAIL,RoleID,Password,IsActive,CreatedDate,OrgId)
  values(@Name,@emailAddress,'0B7683F2-4937-437D-BB5C-A5155C3A8FFA',@password,1,GETDATE(),@ORGID)

  SELECT 3 -- ORG AND USER CREATED SUCCESSFULLY
  end
  end
 
 
GO
/****** Object:  StoredProcedure [dbo].[USP_VALIDATEUSER]    Script Date: 11/7/2020 2:56:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_VALIDATEUSER](@USERNAME NVARCHAR(100),@PASSWORD NVARCHAR(100))    
AS    
BEGIN    
SET NOCOUNT ON    
    
SELECT Name,UserID ,OrgId,RoleID FROM tbl_User WHERE Email=@USERNAME AND Password=@PASSWORD    
    
END
GO
